==
<?
function onStart()
{
    //Updates year programmtically
    $this['carbon'] = Carbon\Carbon::now()->year;
}
?>
==
<footer class="flex flex-row justify-center bg-mom-red border-t-4 border-mom-yellow xl:h-72 pt-8 relative">
    <div class="bg-mom-red border-t-4 border-mom-yellow h-4 w-full absolute -top-6"></div>
    <div class="flex flex-col w-10/12 xl:w-9/12 mx-auto xl:space-y-4">
        <!-- TODO: Should do a search by category -->

        <!-- Wrapper for footer content w/o copyright -->
        <div class="flex flex-col md:flex-row flex-grow justify-between md:space-x-10">
            <div class="flex flex-col text-white font-architects order-2 md:order-1 my-4 xl:my-0"
                <h5 class="text-xl">Shop By Topic</h5>
                <ul>
                    <li>
                        <a class="hover:text-yellow-500" href="#">Shawls</a>
                    </li>
                    <li>
                        <a class="hover:text-yellow-500" href="#">Scarfs</a>
                    </li>
                    <li>
                        <a class="hover:text-yellow-500" href="#">Hats</a>
                    </li>
                    <li>
                        <a class="hover:text-yellow-500" href="#">Bags</a>
                    </li>
                </ul>
            </div>

            <!-- TODO: Setup Newsletter with Mailchimp -->
            <div class="text-white font-architects flex flex-col bg-mom-teal md:w-96 rounded-xl place-items-center p-3 shadow-xl order-1 md:order-2">
                <h5 class="text-2xl">Newsletter</h5>
                <div class="flex flex-row justify-between space-x-6 py-3 w-full">
                    <input class="border-yellow-500 border-2 rounded-lg h-auto pl-3 w-full" type="text" placeholder="Email">
                    <button class="border-green-700 border-2 bg-green-500 py-2 px-4 rounded-xl">SUBMIT</button>
                </div>
                <p>
                    We promise not to spam you everyday and to only update you on new designs, events, and discounts.
                </p>
            </div>

            <!-- TODO: What Socials does Mom have for the business -->
            <ul class="flex flex-row w-48 mx-auto pb-4 justify-between order-last">
                <li>
                    <a href="#">
                        {% partial "icons/email" %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% partial "icons/facebook" %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% partial "icons/instagram" %}
                    </a>
                </li>
            </ul>
        </div>

        <!-- TODO: Have year be programmatically added -->
        <div class="text-center text-mom-yellow">
            copyright &copy; {{ carbon }} - Em's Country Crafts
        </div>
    </div>
</footer>
