<footer class="flex flex-row justify-center bg-mom-red border-t-4 border-mom-yellow h-64 pt-8">
    <div class="flex flex-col w-9/12 mx-auto">
        <!-- TODO: Should do a search by category -->

        <!-- Wrapper for footer content w/o copyright -->
        <div class="flex flex-row flex-grow">
            <div class="flex flex-col text-white">
                <h5 class="text-xl">Shop By Topic</h5>
                <ul>
                    <li>
                        <a href="#">Shawls</a>
                    </li>
                    <li>
                        <a href="#">Scarfs</a>
                    </li>
                    <li>
                        <a href="#">Hats</a>
                    </li>
                    <li>
                        <a href="#">Bags</a>
                    </li>
                </ul>
            </div>

            <!-- TODO: What Socials does Mom have for the business -->
            <ul>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </div>

        <!-- TODO: Finish Footer elements -->
        <div class="text-center text-mom-yellow">
            copyright &copy; 2024 - Em's Country Crafts
        </div>
    </div>
</footer>
