##
description = "Default layout"
==
<!DOCTYPE html>
<html>
<head>
    <title>{{ this.page.meta_title}}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ ['assets/output.css']|theme }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col h-screen">

<!-- Header/Navigation -->
<header id="layout-header" class="flex flex-col">
    {% partial 'nav/navigation' %}
</header>

<!--TODO: Add Flash message later-->

<!-- Content -->
<main id="layout-content" class="flex flex-col flex-grow my-5">
    {% page %}
</main>

<!-- Footer -->
<footer id="layout-footer">
    {% partial 'foot/footer' %}
</footer>

</body>
</html>
