<article class="flex flex-row justify-end bg-orange-500 rounded-2xl w-5/12 h-96 relative">
    <img src="{{ 'assets/images/handcrafted.jpg'|theme }}" alt="handcrafted" class="w-auto h-80 rounded-2xl absolute -left-8 bottom-20 z-20">
    <div class="w-5/12 py-8 pr-8">
        <h1 class="text-5xl text-mom-yellow font-dancing shadow-black">Welcome To Em's Country Crafts</h1>
        <p class="text-xl text-white font-architects mt-3">
            Quality isn’t just about the years I’ve spent honing my craft, it’s about ensuring that each stitch is built to last so you and your family can enjoy a fine piece for generations.
            Place an order to get your quality crocheted curio today!
        </p>
    </div>
</article>
