<article class="flex justify-between {{ bgColor }} rounded-2xl w-64 h-[40rem] relative my-16">
    <img src="{{ img }}" alt="handcrafted" class="w-auto h-72 rounded-2xl absolute -right-4 xl:-right-8 -top-8 z-20">
    <div class="p-8 absolute bottom-0">
        <h1 class="text-5xl text-mom-yellow font-dancing">{{title}}</h1>
        <p class="text-xl text-white font-architects mt-3">
            {{text}}
        </p>
        <div class="flex flex-row justify-end">
            {% if link %}
                <a class="text-3xl text-mom-yellow font-dancing" href="{{link[1]}}">Purchase</a>
            {% endif %}
        </div>
    </div>
</article>
