<section x-data="checkout">
    <button @click="checkoutItems" class="px-4 py-2 rounded-md bg-mom-teal font-bold text-white cursor-pointer">
        Checkout
    </button>
</section>
<script>
    // TODO: Example. Update to hit checkout
    document.addEventListener('alpine:init', () => {
        Alpine.data('checkout', () => ({
            async checkoutItems() {
                await fetch('/api_rbm_stripe/checkout', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'}
                }).then((response) => response.text()).then(console.log)
                    .catch(() => console.error('qwerty'));
            }
        }));
    });
</script>
