url = "/store/search"
layout = "default"
title = "Store Search"
meta_title = "Store Search | Welcome to Em's Country Crafts!"

[collection Catalog]
handle = "Catalog\Product"

[collection Category]
handle = "Catalog\Category"
==
<?
use Tailor\Models\EntryRecord;

function fuzzySearch($searchTerm, $payloads) {
    $this['searchTerms'] = explode(' ', $searchTerm);

    foreach ($this['searchTerms'] as $term) {
        foreach ($payloads as $payload) {
            if (str_contains($payload->title, $term)) {
                $this['catalogs'] = $payload;
            }
        }
    }
}

function onInit() {
    $this['catalogs'] = [];
    $this['category'] = [];
    $this['badResults'] = false;

    $this['records'] = EntryRecord::inSection('Catalog\Product')->get();
    $this['tags'] = EntryRecord::inSection('Catalog\Category')->get();

    $this['catalogs'] = $this['records']->filter(function($item){
        return $item['title'] === get('term');
    });

    if(count($this['catalogs']) === 0){
        $this['term'] = str_contains(get('term'), ' ') ? str_replace(' ', '-', get('term')) : get('term');
        $this['category'] = $this['tags']->filter(function($item){
                return $item['slug'] === strtolower($this['term']);
        })->first();
    }

    if($this['category'] !== null && count($this['catalogs']) === 0){
        $this['catalogs'] = $this['records']->filter(function($item){
            return $item['category_id'] === $this['category']['id'];
        });
    }

    if(empty($this['category'])) {
        $this['catalogs'] = EntryRecord::inSection('Catalog\Product')->paginate(4);
        $this['badResults'] = true;
    }
}
?>
==

<section class="flex flex-col space-y-16 my-16 place-items-center">
    <h1 class="text-5xl text-center text-mom-red font-dancing">
        Search Results: {{ term }}
    </h1>
    <div class="flex flex-col space-y-16 w-10/12 mx-auto lg:w-full">
        {% if badResults %}
            <div class="text-mom-red text-xl w-6/12 text-center">
                There were no results for: {{ term }} - please review the below
            </div>
        {% endif %}

        <div class="w-6/12 mx-auto">
        {% partial 'filters/category-filters.htm' categories=tags %}
        </div>

        <div class="flex flex-wrap flex-row place-items-center w-5/12 mx-auto [&>*:nth-child(even)]:bg-mom-red [&>*]:mx-8">
            {% for catalog in catalogs%}
                {% set url = "/store/item/#{catalog.slug}" %}
                {% partial 'cards/vert-card.htm'
                    title=catalog.title
                    text=catalog.featured_text
                    img=catalog.product_image[0].path
                    link=['Purchase', url.slug]
                    bgColor='bg-mom-teal'
                %}
            {% endfor %}
        </div>
    </div>
    {% if badResults %}
        {{catalogs.links|raw}}
    {% endif %}
</section>
