<section class="flex flex-col justify-center text-white text-4xl relative bg-home-hero-pattern bg-cover bg-center font-architects">
    <div class="z-20 pb-3">
        <!-- Search Bar  -->
        {% partial 'icons/search' %}
        {% partial 'icons/logo' %}
        <!--Tablet and Desktop Navigation-->
        <nav class="flex flex-row justify-between w-8/12 mx-auto">
            <div class="w-2/12 flex justify-between">
                <a class="hover:text-yellow-500" href="#">Home</a>
                <a class="hover:text-yellow-500" href="#">Store</a>
            </div>
            <div class="w-2/12 flex justify-between">
                <a class="hover:text-yellow-500" href="#">Blog</a>
                <a class="hover:text-yellow-500" href="#">About</a>
            </div>
        </nav>
    </div>
    <div class="absolute inset-0 bg-black/20 backdrop-blur-md"></div>
</section>
